name: Publish Playwright Report

on:
  workflow_run:
    workflows: ["Playwright Tests"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Download report artifact
        uses: actions/download-artifact@v4
        with:
          name: playwright-report.zip       
          path: ./artifacts                 

      - name: Unzip report
        run: unzip ./artifacts/playwright-report.zip -d playwright-report 

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: playwright-report    

